<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">Hostel Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/admin/register/view">Registers</a>
        <a class="nav-item nav-link" href="/admin/students">Students</a>
        <a class="nav-item nav-link" href="/admin/room">Room</a>
        <a class="nav-item nav-link" href="/admin/attendence">Attendence</a>
        <a class="nav-item nav-link" href="/admin/attendence/view">Attendence View</a>
        <a class="nav-item nav-link" href="/admin/mess">Mess</a>
        <a class="nav-item nav-link active" href="/admin/complaint">Complaints</a>
        <a class="nav-item nav-link" href="/admin/request">Requests</a>
        <a class="nav-item nav-link" href="/admin/notice">Notice</a>
        <a class="nav-item nav-link" href="/users/logout">Logout</a>
      </div>
    </div>
  </nav>

<h1 class="text-center">Complaint Pending</h1>
<table class="container table">
    <tr>
        <th>Roll Number</th>
        <th>Category</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
<% for(var i=0; i<complaint.length; i++){ %>
    <tr>
        <td><%= complaint[i].roll_no %></td>
        <td><%= complaint[i].category %></td>
        <td><%= complaint[i].description %></td>
        <td><a href="/admin/complaint/add/<%= complaint[i]._id %>">Mark as Done</a></td>
    </tr>
<% } %>
</table>

<style>
  body{
      background-color: darkgray;
  }
  table{
      background-color: aliceblue;
  }
</style>