<h1 class="text-center">Welcome to hostel management system</h1>
<div class="row">
    <div class="col text-center p-4">
        <a class="btn btn-primary" href="/users/login">Login Here!</a>
    </div>
    <div class="col text-center p-4">
        <a class="btn btn-primary" href="/student/register">New Student Registration</a>
    </div>
</div>