<div>
    <form action="/student/register" method="post">
        name:<input type="text" name="name">
        number:<input type="number" name="number">
        email:<input type="email" name="email">
        dept:<input type="text" name="dept">
        add:<input type="text" name="add">
        Roll:<input type="text" name="roll_no">
        <input type="submit">
    </form>
</div>