<form action="/student/request/add" method="post">
    roll_no: <input type="text" name="roll_no">
    category<input type="text" name="category">
    description: <input type="text" name="description">
    <input type="submit">
</form>